/** 

illuminati nokia 1.0

*/


/*loaded nokia font*/
@font-face {
    font-family: nokiafonts;
    src: url('../fonts/NokiaKokia.ttf');
    
}


/*global changes */
body {
    -webkit-font-smoothing: antialiased;
    
    text-rendering: optimizeLegibility;
}



/* nokia logo*/
.nokia {
    font-family: nokiafonts, sans-serif;
    font-weight: bolder;
    color:#124191;
    padding: 0;
    margin: 0;
    
    --text-shadow: 2px 2px 2px white;
    
    
    
}
.navbar {
    box-shadow: 7px 1px 5px #124191;
    background: linear-gradient(#F1F1F1,#FFF,#FFF,#FFF,#F1F1F1);
}


h1.nokia {
    font-size: 24px;
}

#nav-icons {
    margin-right: 10px;
    margin-left: -5px;
}
#carousel-head {
    margin-top: 55px;
}
#carousel-head .item {
    height: 400px;
   
    
}

#slide1 {
    background: url('../images/slide1.jpg') top center no-repeat;
}
#slide2 {
    background: url('../images/slide2.jpg') top center no-repeat;
}
#slide3 {
    background: url('../images/slide3.jpg') top center no-repeat;
}
#slide4 {
    background: url('../images/slide4.jpg') top center no-repeat;
}
#slide5 {
    background: url('../images/slide5.jpg') top center no-repeat;
}
.carousel-indicators li{
    border-radius: 0;
    width: 15px;
    height: 5px;
}
.carousel-caption {
    font-family:  "nokia-pure-headline-ultralight",Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #124191; 

}
.carousel-caption h4 {
    font-size: 26px;
}

.carousel a>span {
    margin-top: 200px;
    color: #124191;
}
.panel {
    text-align: center;
}
.panel img {
    height: 400px;
    
}
.panel-footer>h4 {
  color: #124191;  
}
.panel-footer>p {
    font-family: 'Gloria Hallelujah', cursive;

}
#search-box {
    margin: 2px 2px 2px 1px;
}

.navbar-bottom{
        font-family: 'Oxygen', sans-serif;
        

}
.contact-us {
    background-color: #ccc;
    padding: 10px;

}
.fa {
    color: gray;
}
#footer-2{
    background-color: #f1f1f1;
    padding: 10px;
}
.fa-facebook-square:hover{
    color: #3B5998;
    transition: all 0.2s ease-in-out
    
}
.fa-twitter-square:hover {
    color: #61BCF6;
    transition: all 0.2s ease-in-out
}
.fa-linkedin-square:hover {
    color: #0073B1;
    transition: all 0.2s ease-in-out
}
.fa-youtube-square:hover {
    color: #E62117;
    transition: all 0.2s ease-in-out
}
ul.unstyled {
    list-style:none;
    padding: 0;
}

.navbar-toggle {
    background-color: #124191;
}

.icon-bar{
    background-color: #f1f1f1;
}


/* Portrait & landscape phone */
@media (max-width: 480px) {
	#carousel-head .item {
    height: 200px;
   
    
}
    .carousel-caption {
    font-family:  "nokia-pure-headline-ultralight",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 300;
                text-shadow: 1px 1px 1px #124191; 

}
.carousel-caption h4 {
    font-size: 14px;
}
     #slide1 {
    background: url('../images/4slide1.jpg') top center no-repeat;
}
#slide2 {
    background: url('../images/4slide2.jpg') top center no-repeat;
}
#slide3 {
    background: url('../images/4slide3.jpg') top center no-repeat;
}
#slide4 {
    background: url('../images/4slide4.jpg') top center no-repeat;
}
#slide5 {
    background: url('../images/4slide5.jpg') top center no-repeat;
}
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    #carousel-head .item {
    height: 300px;
   
    
}
.carousel-caption {
    font-family:  "nokia-pure-headline-ultralight",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 2px 2px 2px #124191;    
}
.carousel-caption h4 {
    font-size: 18px;
}
    #slide1 {
    background: url('../images/7slide1.jpg') top center no-repeat;
}
#slide2 {
    background: url('../images/7slide2.jpg') top center no-repeat;
}
#slide3 {
    background: url('../images/7slide3.jpg') top center no-repeat;
}
#slide4 {
    background: url('../images/7slide4.jpg') top center no-repeat;
}
#slide5 {
    background: url('../images/7slide5.jpg') top center no-repeat;
}
	
}

/* Large desktop */
@media (min-width: 768px) {
   
    #carousel-head .item {
    height: 500px;
   
    
}
    .carousel-caption {
    font-family:  "nokia-pure-headline-ultralight",Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: 300;
        text-shadow: 1px 1px 1px #124191; 
}
.carousel-caption h4 {
    font-size: 26px;
}
    #slide1 {
    background: url('../images/slide1.jpg') top center no-repeat;
}
#slide2 {
    background: url('../images/slide2.jpg') top center no-repeat;
}
#slide3 {
    background: url('../images/slide3.jpg') top center no-repeat;
}
#slide4 {
    background: url('../images/slide4.jpg') top center no-repeat;
}
#slide5 {
    background: url('../images/slide5.jpg') top center no-repeat;
}
	
}
